.form {
  display: flex;
  justify-content: center;
  text-align: left;
}
.formGrid {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-columns: 200px;
}
.driverTitle {
  font-size: 28px;
  font-weight: bolder;
  margin-top: 3%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.name {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.birthplace {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.team {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}
.rank {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
}
.image {
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}
.formCatagory,
.submit {
  font-size: 25px;
  font-weight: bolder;
}
.submit {
  margin-top: 5%;
  width: 100%;
  border: 2px solid black;
  background: #ff1801;
  color: white;
  grid-row: 7 / span 1;
  grid-column: 1 / span 1;
}
label {
  font-weight: bolder;
}
.inputField {
  width: 100%;
  height: 25px;
  font-size: 18px;
  border: 1px solid black;
}
