html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

nav {
  border-bottom: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
nav img {
  max-height: 150px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: #ff1801;
  display: inline-block;
  padding: 20px 5px;
  font-size: 1.8em;
  text-decoration: none;
}

nav a:hover {
  background: black;
}
main {
  display: flex;
  justify-content: center;
}

.videoDiv {
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5%;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}
/* main {
  width: 900px;
  margin: auto;
  height: 100%;
} */
