.drivers {
  margin-top: 5%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
.driverDivs {
  border: 2px solid black;
  text-align: center;
  height: 200px;
  width: 200px;
}
.edits {
  margin-top: 5%;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}
.editDivs1,
.editDivs2,
.editDivs3 {
  border: 2px solid black;
  text-align: center;
  height: 75px;
  width: 100px;
  font-size: 25px;
  font-weight: bolder;
}
a {
  color: black;
  text-decoration: none;
}
.editDivs1 {
  background: green;
}
.editDivs2 {
  background: yellow;
}
.editDivs3 {
  background: red;
}
