.edits {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.editDivs1,
.editDivs2,
.editDivs3 {
  border: 2px solid black;
  text-align: center;
  height: 75px;
  width: 100px;
  font-size: 25px;
  font-weight: bolder;
  margin: 50% 0;
}
a {
  color: black;
  text-decoration: none;
}
.editDivs1 {
  background: green;
}
.editDivs2 {
  background: yellow;
}
.editDivs3 {
  background: red;
}
.driverGrid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 60% 60% 60% 60%;
  height: 50vh;
  width: 80vw;
  justify-content: center;
}
.textContainer {
  transition: 0.4s ease;
  opacity: 0;
  position: relative;
  background: white;
  padding: 20% 0;
}
.driverDivs:hover {
  opacity: 0.75;
  border: 2px solid #f9f9f9;
}
.driverDivs:hover .textContainer {
  opacity: 1;
}
.text {
  font-size: 14px;
}
.description {
  font-weight: bolder;
}
