main {
  display: flex;
  justify-content: center;
}

.videoDiv {
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5%;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}
