.grid {
  background: black;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 60% 60% 60% 60%;
  height: 50vh;
  width: 80vw;
  justify-content: center;
}
